on:
  release:
    types: [created]

name: Create Releases

permissions:
  id-token: write  # Required for OIDC. see https://docs.npmjs.com/trusted-publishers#supported-cicd-providers
  contents: read

jobs:
  build-and-publish-app-zt-console:
    if: startsWith(github.event.release.name, 'app-zt-console-v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      BUILD_CONFIG: "Release"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/
      - name: build and upload zt-console.zip as SPA for use with controller
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        run: |
          ./build.sh /zac/
          cd dist/app-zt-console && zip -r zt-console.zip *
          gh release upload ${{github.event.release.tag_name}} zt-console.zip

  build-and-publish-zt-console-lib:
    if: startsWith(github.event.release.name, 'zt-console-lib-v')
    runs-on: ubuntu-latest
    env:
      BUILD_CONFIG: "Release"
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Set VERSION Environment Variable
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV

      - name: Set VERSION Environment Variable
        run: |
          VERSION=$(echo "${{ github.event.release.name }}" | grep -oP '^.*-v(.*)$')
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Build and Publish Shared Library - zt-console-lib
        if: github.repository_owner == 'hanzozt'
        run: ./publishSharedLib.sh
